<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginC</servlet-name>
        <servlet-class>controllers.LoginC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSensorC</servlet-name>
        <servlet-class>controllers.AddSensorC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFactorC</servlet-name>
        <servlet-class>controllers.AddFactorC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addLocationC</servlet-name>
        <servlet-class>controllers.addLocationC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFactorToLocationC</servlet-name>
        <servlet-class>controllers.AddFactorToLocationC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSensorToLocationC</servlet-name>
        <servlet-class>controllers.AddSensorToLocationC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginC</servlet-name>
        <url-pattern>/LoginC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSensorC</servlet-name>
        <url-pattern>/AddSensorC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFactorC</servlet-name>
        <url-pattern>/AddFactorC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addLocationC</servlet-name>
        <url-pattern>/addLocationC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFactorToLocationC</servlet-name>
        <url-pattern>/AddFactorToLocationC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSensorToLocationC</servlet-name>
        <url-pattern>/AddSensorToLocationC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
  
    </session-config>
    <welcome-file-list>
        <welcome-file>indexJSP.jsp</welcome-file>
    </welcome-file-list>
</web-app>
